# Database Secrets
POSTGRES_USER=user_name
POSTGRES_PASSWORD=user_password
POSTGRES_DB=first_tmp_table
MINIO_ROOT_USER=minio_user_name
MINIO_ROOT_PASSWORD=minio_user_password
MINIO_ENDPOINT=localhost:9000
IMAGE_UPLOAD_TEMP_BUCKET=temp_data_directory_name
IMAGE_UPLOAD_PRODUCT_BUCKET=product_image_directory_name
TEMP_URL_EXPIRY_TIME=24
# App Settings
DATABASE_URL=postgresql://admin:${POSTGRES_PASSWORD}@postgres:5432/ecom_db
